.sehat{
	margin-top: 9px;
}
.pintar{
	 font-family: OpenSans;
	   font-size: 25px;
}
.bodo{
	height: 60px;
	background-color: #fff;
}
.kertas { 
	background-color: #f9fcff;
}

.link {
	color: #262626;
}
